In [ ]:
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv
import matplotlib.pyplot as plt
from cassandra.cluster import Cluster
import requests

In [ ]:
cluster = Cluster(['127.0.0.1']) 
session = cluster.connect()

In [ ]:
keyspace_name = "data_quran"  


session.execute("CREATE KEYSPACE IF NOT EXISTS data_quran WITH replication = {'class': 'SimpleStrategy', 'replication_factor': '1'}")

session.set_keyspace('data_quran')

In [ ]:
session.set_keyspace('data_quran')

In [ ]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS arabic (
        verse_number int PRIMARY KEY,
        surah int,
        ayah_id int,
        text varchar
    );
"""

try:
    session.execute(create_table_query)
    print("Table 'arabic' created successfully!")
except Exception as e:
    print("Error:", e)

Table 'arabic' created successfully!

In [ ]:
create_table_query = """
    CREATE TABLE IF NOT EXISTS Tafseer (
        Name varchar,
        Surah int,
        Ayat int,
        Verse text,
        Tafseer text,
        PRIMARY KEY (Name, Surah, Ayat)
    );
"""

try:
    session.execute(create_table_query)
    print("Table 'Tafseer' created successfully!")
except Exception as e:
    print("Error: Issue creating table")
    print(e)

Table 'Tafseer' created successfully!

In [ ]:
# Path to your CSV file
csv_file = r"/Users/hilmanyusoh/Desktop/Final-Project/arabic_ayah.csv"  # Replace with your CSV file path

# Read data from CSV and insert into Cassandra
try:
    # Read CSV file into DataFrame
    df = pd.read_csv(csv_file)
    
    # Iterate over DataFrame rows and insert into Cassandra
    for row in df.itertuples(index=False):
        # Prepare and execute INSERT query
        insert_query = session.prepare("INSERT INTO arabic (verse_number, surah, ayah_id, text) VALUES (?, ?, ?, ?)")
        session.execute(insert_query, (row.verse_number, row.surah, row.ayah_id, row.text))
        
    print("Data inserted successfully!")
except Exception as e:
    print("Error: Inserting Rows")
    print(e)

Data inserted successfully!

In [ ]:
file_path = r"/Users/hilmanyusoh/Desktop/Final-Project/Quran_English_with_Tafseer.csv"

try:
    with open(file_path, 'r', encoding='utf-8') as file:
        next(file) 
        for line in file:
            parts = line.strip().split(',')  # Assuming data is CSV
            name = parts[0]
            surah = int(parts[1])
            ayat = int(parts[2])
            verse = parts[3]
            tafseer = parts[4]
            # Prepare and execute INSERT query
            insert_query = session.prepare("INSERT INTO Tafseer (Name, Surah, Ayat, Verse, Tafseer) VALUES (?, ?, ?, ?, ?)")
            session.execute(insert_query, (name, surah, ayat, verse, tafseer))
    print("Data inserted successfully!")
except Exception as e:
    print("Error: Inserting Data")
    print(e)

# Close connection
cluster.shutdown()

Data inserted successfully!

In [ ]:
keyspace_name = "data_quran"
session.set_keyspace(keyspace_name)


table_name = "arabic"


rows = session.execute(f"SELECT * FROM {table_name} LIMIT 1")


for row in rows:
    print(row)  #

Row(verse_number=4317, ayah_id=45, surah=42, text='وَتَرَىٰهُمۡ يُعۡرَضُونَ عَلَيۡهَا خَٰشِعِينَ مِنَ ٱلذُّلِّ يَنظُرُونَ مِن طَرۡفٍ خَفِيّٖۗ وَقَالَ ٱلَّذِينَ ءَامَنُوٓاْ إِنَّ ٱلۡخَٰسِرِينَ ٱلَّذِينَ خَسِرُوٓاْ أَنفُسَهُمۡ وَأَهۡلِيهِمۡ يَوۡمَ ٱلۡقِيَٰمَةِۗ أَلَآ إِنَّ ٱلظَّـٰلِمِينَ فِي عَذَابٖ مُّقِيمٖ')

In [ ]:
keyspace_name = "data_quran"
session.set_keyspace(keyspace_name)


table_name = "Tafseer"


rows = session.execute(f"SELECT * FROM {table_name} LIMIT 1")


for row in rows:
    print(row)  #

Row(name='The Reality', surah=69, ayat=1, tafseer='The Reality the Resurrection in which is realised the truth of all that was rejected in the way of the raising from the graves the reckoning and the requital or it means the Resurrection which will manifest all of that.', verse='The Reality!')

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "Allah"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Allah' appears 601 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "Muhammad"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Muhammad' appears 121 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "Abraham"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Abraham' appears 40 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "Muslim"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Muslim' appears 12 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "prayer"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'prayer' appears 46 times.

In [ ]:
query = "SELECT surah, ayat, tafseer FROM Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []


search_word = "Israel"


occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Israel' appears 28 times.

In [ ]:
query = "SELECT surah, ayat, tafseer FROM Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []


search_word = "Christian"


occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Christian' appears 15 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "Hell"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Hell' appears 42 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "night"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'night' appears 48 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "Children"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'Children' appears 26 times.

In [ ]:
query = "SELECT surah,ayat, tafseer From Tafseer"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []
    
search_word = "women"

occurrence_count = 0
for row in rows:
    if search_word in row.tafseer:
        occurrence_count += 1


print(f"The word '{search_word}' appears {occurrence_count} times.")

The word 'women' appears 38 times.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="ٱلدُّنۡيَا"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'ٱلدُّنۡيَا' occurs 111 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="ٱلۡقِيَٰمَةِ"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'ٱلۡقِيَٰمَةِ' occurs 70 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="إِبۡلِيس"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'إِبۡلِيس' occurs 11 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="مُوسَى"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'مُوسَى' occurs 121 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="عِيسَى"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'عِيسَى' occurs 25 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="مَرۡيَمَ"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'مَرۡيَمَ' occurs 27 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="إِبۡرَٰهِـۧمَ"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'إِبۡرَٰهِـۧمَ' occurs 8 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="ٱلنَّارِ"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'ٱلنَّارِ' occurs 68 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="رَمَضَانَ"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'رَمَضَانَ' occurs 1 times in al-quran.

In [ ]:
query = "SELECT ayah_id, text FROM arabic"
try:
    rows = session.execute(query)
except Exception as e:
    print("Error executing query:", e)
    rows = []

search_phrase ="جَنَّة"

occurrence_count = 0
for row in rows:
    if search_phrase in row.text:
        occurrence_count += 1


print(f"The phrase '{search_phrase}' occurs {occurrence_count} times in al-quran.")

The phrase 'جَنَّة' occurs 64 times in al-quran.